body {
    background-color: lightblue;
    color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

a {
    color: lightblue;
    text-decoration: wavy underline;
}

table {
    table-layout: auto;
}

.common {
    background: white;
    border: 2px solid gray;
    position: absolute;
}

.header {
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
    text-align: right;
}

.leftmenu {
    top: 114px;
    left: 5px;
    bottom: 44px;
    width: 100px;
    padding-left: 5px;
}

.mainbody {
    top: 114px;
    left: 119px;
    right: 119px;
    bottom: 44px;
}

.rightmenu {
    top: 114px;
    right: 5px;
    bottom: 44px;
    width: 100px;
    padding-left: 5px;
}

.footer {
    left: 5px;
    right: 5px;
    bottom: 5px;
    height: 25px;
    position: fixed;
    text-align: center;
    padding-top: 5px;
}