body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: lightblue;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    color: darkblue;
    text-decoration: underline;
}

h3 {
    color: maroon;
    font-family: 'Courier New', Courier, monospace;
}